@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');

html, body, label, h1, h2, h3, h4, h5, h6
{
    font-family: 'Noto Sans KR';
}

.btn-submit
{
    font-family: 'Noto Sans KR';
}

.header
{
    padding: 10px;
    text-align: center;
    color: white;
    background-color: #0d589d;
}
.body
{
    margin: 15px;
}

img
{

  display:table-cell;
  vertical-align:middle;
  margin:auto;
}

/*
.wrapper {
  position: relative;
  width: 400px;
  height: 200px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
img {
  position: absolute;
  left: 39px;
  top: 26px;
    height: 169px;
    width: 384px;
}

.signature-pad {
  position: absolute;
  left: 0;
  top: 0;
  width:400px;
  height:200px;
}
*/